<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Global Azure Bootcamp 2017</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta property="og:title" content="Global Azure Bootcamp 2017">
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css">
        <link rel="stylesheet" href="~/css/slick.css">
        <link rel="stylesheet" href="~/js/rs-plugin/css/settings.css">

        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/custom.css" />

        <link rel="stylesheet" href="~/css/TimeCircles.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top scrolled">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="fa fa-bars fa-lg"></span> </button>
                <a class="navbar-brand"> <img src="~/images/logo-b.png" alt="" width="50%" class="logo"> </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/punitganshani/azurebootcamp/wiki" target="_blank">Wiki</a></li>
                    <li><a href="http://global.azurebootcamp.net/">Global Site</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="wrapper navbar-header">
        <section id="timer">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Verify your JSON settings</h1>
                    <div class="divider"></div>
                    <p>Please ensure you have a copy of JSON before you click 'Verify JSON'</p>
                </div>
            </div>
        </section>
        <section id="body">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </div>

    <environment names="Development,Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <!-- Animation JS -->
        <script src="~/js/slick.min.js" asp-append-version="true"></script>
        <script src="~/js/placeholdem.min.js"></script>
        <script src="~/js/rs-plugin/js/jquery.themepunch.plugins.min.js" asp-append-version="true"></script>
        <script src="~/js/rs-plugin/js/jquery.themepunch.revolution.min.js" asp-append-version="true"></script>
        <script src="~/js/waypoints.min.js" asp-append-version="true"></script>

        <!--Custom JS-->
        <script src="~/js/TimeCircles.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/custom.js" asp-append-version="true"></script>

    </environment>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            appMaster.preLoader();
        });
    </script>
</body>
</html>
