@model Prize[]
@{
    var splittedGroup = Extensions.Split<Prize>(Model, 3);
}
<section id="giveaways">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3">
            <h1>The awesome giveaways!</h1>
            <div class="divider"></div>
        </div>
        <div class="row"> </div>
        <!-- row -->
        @foreach (var rowGroup in splittedGroup)
        {
            var bootstrapColumn = 12 / rowGroup.Count;
            <div class="row">
                @foreach (var giveaway in rowGroup)
                {
                    <div class="col-lg-@bootstrapColumn text-center">
                        <a href="@giveaway.Link" target="_blank"><img src="@giveaway.ImageUrl" style="margin-top:30px;" height="80px"></a> <br>
                        <h3>@giveaway.Name</h3>
                    </div>
                }
            </div>
        }
        <!-- row -->
    </div>
</section>