<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Global Azure Bootcamp 2016</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/TimeCircles.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.cs"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-cloud"></i><span class="light">Azure</span> Bootcamp
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">about</a>
                    </li>
                    @RenderSection("Menu", false)

                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div id="CountDownTimer" data-timer="10" class="centered" style="width: 100%; height:100%;" />-->
                            <div id="divTimer">
                                <img src="~/images/intro-bg-small.png" />
                                <br />
                                <h2>
                                    16th April<h2>
                                        <h3>The countdown has begun!</h3>
                                        <div id="CountDownTimer" data-date="2016-04-16 00:00:00" class="centered"
                                             style="width: 100%; height:100%;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="section-heading scrollpoint sp-effect3">
                <h1>Azure Bootcamp, 2016</h1>
                <div class="divider"></div>
                <p>More content, speakers and brain storming this year!</p>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12"><br /></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <span class="icon fa fa-cloud"></span>
                    <br />
                    <br />
                    <h3>Deep Dive Sessions</h3>
                    <p>
                        One full day of <b>deep dive</b> sessions on Azure for Developers and IT Pro's delivered by the experts to get you started on complex topics like Media Streaming, Mobile
                        Services, ALM, PowerShell and IoT
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">

                    <span class="icon fa fa-usd"></span>
                    <br />
                    <br /> <h3>Free registration</h3>
                    <p>
                        Entry to this event is totally free! What more! There are <b>lot of SWAGs</b> from our sponsors!
                    </p>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">

                    <span class="icon fa fa-users"></span>
                    <br />
                    <br /> <h3>Discuss with Experts</h3>
                    <p>
                        Have questions, need to discuss your technical issues, or looking for some advise, do attend to speak to the experts
                    </p>

                </div>
            </div>
        </div>
        <div class="where-section">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Happening across the globe!</h2>
            </div>
        </div>

    </section>

    @RenderBody()

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Punit Ganshani 2015</p>
        </div>
    </footer>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO6AXw4-I0uuUxAKBKMtoB0eUmKfobjH0&sensor=false" type="text/javascript"></script>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/TimeCircles.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/google.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("scripts", required: false)
</body>
</html>
