@model Location

<section id="locate">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="map" data-latitude='@Model.Latitude' data-longitude='@Model.Longitude'></div>
            </div>
        </div>
    </div>
    <!-- Map Section -->
</section>