@model Sponsor[]
<section id="sponsors">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3">
            <h1>Sponsors</h1>
            <div class="divider"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="#" target="_blank"><img src="~/images/MVP.png" height="100px" alt="Microsoft MVP"></a><br />
                <br />
            </div>
            @foreach (var sponsor in Model)
            {
                <div class="col-lg-4 text-center"> <a href="@sponsor.Link" target="_blank"><img src="@sponsor.Image" height="80px" style="margin-top:30px;" alt="@sponsor.Name"></a> </div>
            }
        </div>
    </div>
</section>
