.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}
.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}
@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}
@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0)
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown
}
@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }
}
@-moz-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(20px)
    }
}
@-o-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -o-transform: translateY(0)
    }
    100% {
        opacity: 0;
        -o-transform: translateY(20px)
    }
}
@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        transform: translateY(20px)
    }
}
.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown
}
@-webkit-keyframes bounceOut {
    0% {
        -webkit-transform: scale(1)
    }
    25% {
        -webkit-transform: scale(.95)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.1)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(.3)
    }
}
@-moz-keyframes bounceOut {
    0% {
        -moz-transform: scale(1)
    }
    25% {
        -moz-transform: scale(.95)
    }
    50% {
        opacity: 1;
        -moz-transform: scale(1.1)
    }
    100% {
        opacity: 0;
        -moz-transform: scale(.3)
    }
}
@-o-keyframes bounceOut {
    0% {
        -o-transform: scale(1)
    }
    25% {
        -o-transform: scale(.95)
    }
    50% {
        opacity: 1;
        -o-transform: scale(1.1)
    }
    100% {
        opacity: 0;
        -o-transform: scale(.3)
    }
}
@keyframes bounceOut {
    0% {
        transform: scale(1)
    }
    25% {
        transform: scale(.95)
    }
    50% {
        opacity: 1;
        transform: scale(1.1)
    }
    100% {
        opacity: 0;
        transform: scale(.3)
    }
}
.bounceOut {
    -webkit-animation-name: bounceOut;
    -moz-animation-name: bounceOut;
    -o-animation-name: bounceOut;
    animation-name: bounceOut
}
@-webkit-keyframes bounceOutUp {
    0% {
        -webkit-transform: translateY(0)
    }
    20% {
        opacity: 1;
        -webkit-transform: translateY(20px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px)
    }
}
@-moz-keyframes bounceOutUp {
    0% {
        -moz-transform: translateY(0)
    }
    20% {
        opacity: 1;
        -moz-transform: translateY(20px)
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(-2000px)
    }
}
@-o-keyframes bounceOutUp {
    0% {
        -o-transform: translateY(0)
    }
    20% {
        opacity: 1;
        -o-transform: translateY(20px)
    }
    100% {
        opacity: 0;
        -o-transform: translateY(-2000px)
    }
}
@keyframes bounceOutUp {
    0% {
        transform: translateY(0)
    }
    20% {
        opacity: 1;
        transform: translateY(20px)
    }
    100% {
        opacity: 0;
        transform: translateY(-2000px)
    }
}
.bounceOutUp {
    -webkit-animation-name: bounceOutUp;
    -moz-animation-name: bounceOutUp;
    -o-animation-name: bounceOutUp;
    animation-name: bounceOutUp
}
@-webkit-keyframes bounceOutDown {
    0% {
        -webkit-transform: translateY(0)
    }
    20% {
        opacity: 1;
        -webkit-transform: translateY(-20px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(2000px)
    }
}
@-moz-keyframes bounceOutDown {
    0% {
        -moz-transform: translateY(0)
    }
    20% {
        opacity: 1;
        -moz-transform: translateY(-20px)
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(2000px)
    }
}
@-o-keyframes bounceOutDown {
    0% {
        -o-transform: translateY(0)
    }
    20% {
        opacity: 1;
        -o-transform: translateY(-20px)
    }
    100% {
        opacity: 0;
        -o-transform: translateY(2000px)
    }
}
@keyframes bounceOutDown {
    0% {
        transform: translateY(0)
    }
    20% {
        opacity: 1;
        transform: translateY(-20px)
    }
    100% {
        opacity: 0;
        transform: translateY(2000px)
    }
}
.bounceOutDown {
    -webkit-animation-name: bounceOutDown;
    -moz-animation-name: bounceOutDown;
    -o-animation-name: bounceOutDown;
    animation-name: bounceOutDown
}
@-webkit-keyframes bounceOutLeft {
    0% {
        -webkit-transform: translateX(0)
    }
    20% {
        opacity: 1;
        -webkit-transform: translateX(20px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-2000px)
    }
}
@-moz-keyframes bounceOutLeft {
    0% {
        -moz-transform: translateX(0)
    }
    20% {
        opacity: 1;
        -moz-transform: translateX(20px)
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(-2000px)
    }
}
@-o-keyframes bounceOutLeft {
    0% {
        -o-transform: translateX(0)
    }
    20% {
        opacity: 1;
        -o-transform: translateX(20px)
    }
    100% {
        opacity: 0;
        -o-transform: translateX(-2000px)
    }
}
@keyframes bounceOutLeft {
    0% {
        transform: translateX(0)
    }
    20% {
        opacity: 1;
        transform: translateX(20px)
    }
    100% {
        opacity: 0;
        transform: translateX(-2000px)
    }
}
.bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
    -moz-animation-name: bounceOutLeft;
    -o-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft
}
@-webkit-keyframes bounceOutRight {
    0% {
        -webkit-transform: translateX(0)
    }
    20% {
        opacity: 1;
        -webkit-transform: translateX(-20px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(2000px)
    }
}
@-moz-keyframes bounceOutRight {
    0% {
        -moz-transform: translateX(0)
    }
    20% {
        opacity: 1;
        -moz-transform: translateX(-20px)
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(2000px)
    }
}
@-o-keyframes bounceOutRight {
    0% {
        -o-transform: translateX(0)
    }
    20% {
        opacity: 1;
        -o-transform: translateX(-20px)
    }
    100% {
        opacity: 0;
        -o-transform: translateX(2000px)
    }
}
@keyframes bounceOutRight {
    0% {
        transform: translateX(0)
    }
    20% {
        opacity: 1;
        transform: translateX(-20px)
    }
    100% {
        opacity: 0;
        transform: translateX(2000px)
    }
}
.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    -moz-animation-name: bounceOutRight;
    -o-animation-name: bounceOutRight;
    animation-name: bounceOutRight
}