button,
html,
input,
select,
textarea {
    color: #222
}
body {
    line-height: 1.4
}
::-moz-selection {
    color: #a4003a;
    text-shadow: none;
    background: #16a085
}
::selection {
    color: #a4003a;
    text-shadow: none;
    background: #16a085
}
hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0
}
img {
    vertical-align: middle
}
textarea {
    resize: vertical
}
body,
html {
    height: 100%
}
body {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    font-smoothing: antialiased
}
.col-md-4 {
    padding-bottom: 20px
}
.row {
    margin-right: 0;
    margin-left: -15px
}
.modal-header {
    background: #3498db
}
.modal-header h4 {
    color: #fff
}
.modal-footer {
    background: #2b2b2b
}
.navbar-default {
    border-color: transparent;
    background-color: #dadada
}
.navbar-toggle {
    border: 0 solid transparent
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #16a085
}
hr {
    position: relative;
    border: none
}
hr::before {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #ccc
}
a img {
    background: #fff
}
.odd a img {
    background: #f5f5f5
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway;
    font-weight: 300;
    color: #333
}
p {
    line-height: 28px;
    margin-bottom: 25px
}
.centered {
    text-align: center
}
.paragraph-lead {
    font-size: 20px;
    color: #3498db
}
strong {
    font-weight: 700
}
em {
    font-weight: 300
}
pre {
    border: none;
    font-family: Monaco;
    font-size: 16px;
    color: #666;
    padding: 20px;
    line-height: 28px;
    background: #ebebeb
}
small {
    font-size: 12px
}
blockquote,
blockquote p {
    line-height: 28px;
    color: #999;
    font-weight: 300;
    font-style: italic
}
blockquote {
    position: relative;
    margin: 0 0 40px -30px;
    padding-left: 30px;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #3498db
}
blockquote cite {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 12px;
    font-style: italic;
    color: #333;
    font-weight: 300
}
.overflow-image {
    margin-top: -65px
}
a {
    color: #3498db;
    word-wrap: break-word;
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in
}
a:focus,
a:hover {
    color: #c0392b;
    text-decoration: none;
    outline: 0
}
a::after,
a::before {
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in
}
#headerwrap {
    margin-top: -50px;
    padding-top: 120px;
    text-align: center;
    min-height: 650px;
    width: 100%;
    -webkit-background-size: auto auto;
    -o-background-size: auto;
    background: url(../img/azure_bg.png) 50%/cover no-repeat
}
#headerwrap h1 {
    color: #fff;
    margin-top: 90px;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font-size: 100px;
    font-weight: 700;
    text-shadow: #000 2px 2px 2px
}
#headerwrap p {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
    margin-left: 15px;
    text-shadow: #000 1px 1px 1px
}
#greywrap {
    margin-top: 0;
    padding-top: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    text-align: center;
    background: #f5f5f5
}
#greywrap .callout {
    margin-bottom: 20px
}
#greywrap p {
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px
}
#greywrap .icon {
    font-size: 60px;
    line-height: 30px;
    margin-bottom: 10px
}
#footerwrap {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    text-align: center;
    background: #2b2b2b
}
#footerwrap h4 {
    color: #fff
}
.white h1 {
    padding-top: 35px
}
.white p {
    padding-top: 25px
}
.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #e6eaed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;
    text-align: center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%
}
.textdivider h1 {
    padding-top: 70px;
    color: #fff;
    font-size: 40px
}
.textdivider p {
    color: #fff;
    font-size: 25px
}
.divider1 {
    background-image: url(../img/bg/divider1.jpg)
}
.divider2 {
    background-image: url(../img/bg/divider2.jpg)
}
.divider3 {
    margin-top: 0;
    background-image: url(../img/bg/divider3.jpg)
}
.divider4 {
    background-image: url(../img/bg/divider4.jpg)
}
.divider6 {
    background-image: url(../img/bg/divider6.jpg)
}
.service-trigger {
    display: block;
    position: relative;
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 168px;
    cursor: pointer;
    padding: 90px 20px 50px;
    border: none;
    background: #333
}
.service-trigger::before {
    width: 100%;
    top: 50px;
    color: #3498db;
    font-size: 36px;
    text-align: center;
    position: absolute;
    left: 0
}
.service-active .service-trigger {
    background: #222
}
.service-active p {
    font-family: Lato, sans-serif;
    padding-top: 10px
}
.service-content {
    padding: 15px 20px;
    display: block;
    height: auto;
    background: #e6eaed
}
.service-content p:last-child {
    margin: 0
}
.grid figure {
    margin: 0;
    position: relative
}
.grid figure img {
    width: 100%;
    display: block;
    position: relative
}
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    background: #3498db
}
.grid figcaption h5 {
    margin: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    letter-spacing: 2px
}
.grid figcaption a {
    text-align: left;
    padding: 5px 10px;
    margin-left: 20px;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    background: #2f2f2f
}
.mask figure {
    overflow: hidden
}
.mask figure img {
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -o-transition: -o-transform .4s;
    transition: transform .4s
}
.mask figure.cs-hover img,
.no-touch .mask figure:hover img {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px)
}
.mask figcaption {
    height: 50px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .4s, opacity .1s .3s;
    -moz-transition: -moz-transform .4s, opacity .1s .3s;
    -o-transition: -o-transform .4s, opacity .1s .3s;
    transition: transform .4s, opacity .1s .3s
}
.mask figure.cs-hover figcaption,
.no-touch .mask figure:hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .4s, opacity .1s;
    -moz-transition: -moz-transform .4s, opacity .1s;
    -o-transition: -o-transform .4s, opacity .1s;
    transition: transform .4s, opacity .1s
}
.mask figcaption a {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 30px
}
.blog-bg {
    padding-right: 0;
    padding-left: 0;
    background: #2b2b2b
}
.blog-bg h4 {
    color: #dadada;
    padding-top: 0
}
.blog-bg h5 {
    color: #dadada;
    font-size: 11px
}
.blog-content {
    padding-top: 10px;
    background: #f2f2f2
}
@media screen and (max-width: 1050px),
screen and (max-device-width: 1050px) {
    body .header {
        background-attachment: scroll
    }
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
    .header {
        background-attachment: scroll
    }
}
@media screen and (max-width: 769px) {
    #headerwrap h1 {
        font-size: 80px
    }
    #headerwrap p {
        font-size: 30px;
        line-height: 38px
    }
}